body {
  margin: 0;
  font-family: 'Fredoka', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202124 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0 !important;
}

.navbar {
  position: fixed !important;
  width: 100%;
  height: 82px;
  background: #2d2f32;
  border-bottom: 2px solid black;
  z-index: 999;
}

.navbar-link {
  margin: 10px;
  text-decoration: none;
}

.login-link,
.signup-link,
.logo-name {
  transition: 0.5s;
}

.login-link:hover,
.signup-link:hover,
.logo-name:hover {
  color: rgb(144, 223, 223);
}

.heart-icon {
  color: #fd5d5d;
  transition: 0.5s;
}

.heart-icon:hover {
  color: #f3a0a0;
}

.explore-icon {
  transition: 0.5s;
}

.explore-icon:hover {
  color: rgb(144, 223, 223);
}

.tv-border {
  position: absolute;
  height: 600px;
  width: 900px;
  border-radius: 10%;
  background: #645430;
  background: -webkit-radial-gradient(#70532B 55%, #423628);
  background: -o-radial-gradient(#70532B 55%, #423628);
  background: -moz-radial-gradient(#70532B 55%, #423628);
  background: radial-gradient(#764830 50%, #423628);
  z-index: -1;
  box-shadow: 20px 20px black;
}

.screen-border {
  position: absolute;
  height: 570px;
  width: 865px;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 10%;
  background: #313131;
  z-index: -1;
}

.screen-border-2 {
  position: absolute;
  height: 500px;
  width: 620px;
  margin-top: 5.5%;
  margin-left: 5%;
  border-radius: 10%;
  transform: translate(5px);
  background: #252525;
  z-index: -1;
}

.channel-dial {
  position: absolute;
  height: 110px;
  width: 110px;
  margin-top: 10%;
  margin-left: 80%;
  border-radius: 50%;
  background: #6C7073;
  box-shadow: 10px 10px black;
}

.volume-dial {
  position: absolute;
  height: 110px;
  width: 110px;
  margin-top: 28%;
  margin-left: 80%;
  border-radius: 50%;
  background: #6C7073;
  box-shadow: 10px 10px black;
}

.socket-1 {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: 45%;
  margin-left: 78%;
  border-radius: 50%;
  background: #000;
}

.socket-2 {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: 45%;
  margin-left: 84%;
  border-radius: 50%;
  background: #000;
}

.socket-3 {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: 45%;
  margin-left: 90%;
  border-radius: 50%;
  background: #000;
}

.speaker {
  position: absolute;
  height: 3px;
  width: 50px;
  margin-top: 52%;
  margin-left: 76%;
  border-radius: 10%;
  background: #000;
}

.speaker-2 {
  position: absolute;
  height: 3px;
  width: 50px;
  margin-top: 54.7%;
  margin-left: 76%;
  border-radius: 10%;
  background: #000;
}

.speaker-3 {
  position: absolute;
  height: 3px;
  width: 50px;
  margin-top: 57.7%;
  margin-left: 76%;
  border-radius: 10%;
  background: #000;
}

.make {
  position: absolute;
  height: 3px;
  width: 35px;
  margin-top: 65%;
  margin-left: 79%;
  border-radius: 10%;
  background: #fff;
}

canvas {
  position: absolute;
  background: #000;
  top: 10%;
  left: 7.5%;
  width: 65%;
  height: 80%;
  border-radius: 10%;
  z-index: -1;
}

.television {
  padding-left: 300px;
  padding-top: 115px
}

.sockets {
  padding-left: 15px;
}

.speakers {
  padding-left: 60px;
}

.power-button {
  padding-left: 40px;
}

.channel-dial,
.volume-dial {
  padding-top: 40px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.signup {
  z-index: 1;
  padding-top: 100px;
  padding-left: 135px;
}

.login {
  z-index: 1;
  padding-top: 120px;
  padding-left: 140px;
}

.form-input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  padding: 8px 15px;
  transform: translate(120px);
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.signup-form-content {
  border-radius: 20px;
  border: 2px solid black;
  padding-top: 25px;
  width: 450px;
  height: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px black;
}

.login-form-content {
  border-radius: 20px;
  border: 2px solid black;
  padding-top: 40px;
  width: 450px;
  height: 350px;
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px black;
}

.profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile-picture-nav {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 7px
}

.searchbar {
  width: 195px;
  background: transparent;
  border: none;
  color: white;
}

.searchbar:focus {
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  color: white;
  transition: 0.5s;
}

.search-button:hover {
  color: rgb(144, 223, 223);
}

.search-button:active {
  color: teal;
}

.homepage-container {
  padding-top: 10px;
  display: flex;
  padding-bottom: 15px;
  padding-left: 115px;
  overflow-x: scroll;
}

.explore-category-container {
  text-align: center;
  padding-top: 130px;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-bottom: 15px;
}

.favorite-container {
  text-align: center;
  padding-top: 30px;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 15px;
}

.homepage-category-container {
  text-align: center;
  display: flex;
  padding-bottom: 15px;
  padding-left: 115px;
  overflow-x: scroll;
}

.twitch-thumbnail,
.youtube-thumbnail,
.mux-thumbnail {
  margin-left: 7px;
  margin-right: 7px;
  transition: transform .2s;
}

.twitch-thumbnail:hover,
.youtube-thumbnail:hover,
.mux-thumbnail:hover {
  transform: translate(5px, -5px);
}

.favorite-thumbnail {
  margin-left: 7px;
  margin-right: 7px;
  transition: transform .2s;
}

.favorite-thumbnail:hover {
  transform: translate(5px, -5px);
}

.text-white {
  color: white;
}

.twitch-thumbnail strong:hover,
.youtube-thumbnail strong:hover {
  color: rgb(144, 223, 223) !important;
}

.centered {
  text-align: center;
  padding-top: 20px;
}

.technology-card {
  height: 225px;
  width: 225px;
  margin: 6px;
  margin-bottom: 44px;

}

.technology-card:hover {
  transition: transform .2s;
  transform: translate(5px, -5px);
}

.bold {
  font-weight: bold;
}

.rounded-img {
  border-radius: 15%;
}

.video-container {
  margin: 5px;
}

.video-player {
  text-align: center;
  padding-top: 20px;
}

.twitch-content {
  display: flex;
  padding-top: 20px;
  padding-left: 10px;
}

.mux-video-container {
  padding-top: 20px;
  text-align: center;
}

.video-follow-button {
  border-radius: 5px;
  text-align: center;
}

.stream-follow-button {
  border-radius: 5px;
}

.stream-header,
.category-header,
.video-header {
  padding-top: 20px;
  padding-left: 130px;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.justify-content {
  justify-content: center;
}

.stream-key-input {
  width: 340px
}

.none-streaming {
  padding-left: 18px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.favorite-header {
  text-align: center;
  color: white;
  padding-top: 120px;
}

.carousel-button {
  transition: 0.5s;
}

.carousel-button:hover {
  background: rgb(36, 170, 170);
}

.carousel-button:active {
  background: teal;
}

// Carousel configuration parameters
$n: 8;
$item-width: 400px;
$item-separation: 80px;
$viewer-distance: 500px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n;
$apothem: 482.842712474619px;

.carousel {
  padding: 20px;

  perspective: $viewer-distance;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  >* {
    flex: 0 0 auto;
  }

  figure {
    margin: 0;

    width: $item-width;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% (-$apothem);

    a {
      width: 100%;
      box-sizing: border-box;
      padding: 0 $item-separation / 20;

      opacity: 0.9;

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 50% 50% (-$apothem);
      }

      @for $i from 2 through $n {
        &:nth-child(#{$i}) {
          transform: rotateY(#{($i - 1) * $theta}rad);
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;

    button {
      flex: 0 0 auto;
      margin: 0 5px;

      cursor: pointer;

      color: #333;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px;
    }
  }
}

.trending-header {
  padding-top: 120px;
  text-align: center;
}

.setting-button,
.stream-follow-button,
.video-follow-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #94b49f;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.setting-button:active,
.stream-follow-button:active,
.video-follow-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {

  .setting-button,
  .stream-follow-button,
  .video-follow-button {
    padding: 0.25em 0.75em;
  }
}

label {
  font-weight: bold;
  padding-right: 10px;
}

.logo-name {
  font-family: 'Major Mono Display', monospace !important;
}